@model IEnumerable<Product>
    
@{
    ViewData["Title"] = "Menu items";
}

<h2>Menu items</h2>

<div class="row">
@foreach(Product prod in Model)
{
    <div class="col-md-4">
        <form asp-action="delete" asp-controller="Product" method="post">
                <input type="hidden" asp-for="@prod.ProductId" name="id" />
                <div class="card" style="width: 18rem">
                    <img src="@Url.Content("~/images/"+prod?.ImageUrl)" class="card-img-top fixed-image-height" alt="@prod.Description" />
                </div>
        </form>
    </div>
}
</div>